<h1>Noteを編集</h1>

<% note = @note %>
<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "エラー") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= f.label :カテゴリー %></td>
      <td><%= f.collection_select :category, Category.all, :title, :title %></td>
    </tr>
    <tr>
      <td><%= f.label :コメント %></td>
      <td><%= f.text_field :content %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>

<% end %>


<%= link_to '戻る', @note %>
