<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag "/note_images/#{@note.image}", class: "note-image" %>
</p>

<p>
  <strong>Category:</strong>
  <%= @note.category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= link_to @note.user.name, @note.user %>
</p>


<% if current_user == @note.user%>
	<%= link_to 'Edit', edit_note_path(@note) %> |
	<%= link_to 'Back', notes_path %>
<%end%>