
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <h1>パスワードの変更</h1>
    <table>
      <tr>
        <td><%= f.label :現在のパスワード%></td>
        <td><%= f.password_field :current_password, autocomplete: "off" %></td>
      </tr>
      <tr>
        <td><%= f.label :新しいパスワード %>(<%= @minimum_password_length %>文字以上)</td>
        <td><%= f.password_field :password, autocomplete: "off" %></td>
      </tr>    
      <tr>
        <td><%= f.label :新しいパスワード（確認） %></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
      </tr>
    </table>
    <%= f.submit "更新" %>
  </div>
  
<% end %>



<p><%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "アカウントを削除するとこれまでのデータが全て削除されます。本当にアカウントを削除しますか？" }, method: :delete %></p>

<%= link_to "戻る", :back %>
