<div class="user-form">
  <h2>ユーザー登録</h2>
  <div class="input-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <table>
        <tr>
          <td><%= f.label :ユーザー名 %></td>
          <td><%= f.text_field :name, autofocus: true %></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %>
          (<%= @minimum_password_length %>文字以上)</td>
          <td><%= f.password_field :password, autocomplete: "off" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード（確認） %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
        <tr>
      </table>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div>
  すでにアカウントをお持ちの場合
  <%= render "devise/shared/links" %>
</div>

