
<h1><%= @user.name + @title %></h1>
<%= link_to "#{@user.likes.count}個のお気に入り", like_notes_user_path(@user.id) %>



<% @notes.each do |note| %>
	<li>
		<%= link_to note, class: "note-card" do %>
			<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
			<div><%= note.content %></div>
		<% end %>
	</li>
<% end %>