
<h1>プロフィールを編集</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <p><%= @user.errors.count %>件のエラーがあります。</p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>名前</td>
      <td><%= f.text_field :name, class: "form-control name-field" %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email, class: "form-control email-field" %></td>
    </tr>
    <tr>
      <td><%= f.submit '保存', class: "btn" %></td>
    </tr>
  </table>

  <p><%= link_to 'アカウント設定', edit_user_registration_path %></p>

<%= link_to "戻る", :back %>

<% end %>