<p id="notice"><%= notice %></p>

<% if current_user.id == @user.id %>
	<section>
		<small><%= link_to 'Noteを投稿', new_note_path %></small>
	</section>
	<section>
		<small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
	</section>
<% end %>

<%= render 'notes'%>

<div style=" clear:both;">
	<% @category_title.each do |category_title| #category_titleにカテゴリー名を順番に入れる　%>
		<div style="height:400px;">
			<% if @user.notes.find_by(category: category_title) #ユーザーがそのカテゴリー名のデータを持っていた場合 %>
				<p class="ctg-name"><%= category_title %></p>
				<% notes = @user.notes.where(category: category_title) %>
				<% notes.each do |note| #noteにNoteインスタンスを一つずつ代入 %>
					<li>
						<%= link_to note, class: "note-card" do %>
							<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
							<div><%= note.content %></div>
						<% end %>
					</li>
				<% end %>
			<% else #ユーザーがそのカテゴリー名のデータを持っていなかった場合 %>
				<p class="ctg-name"><%= category_title %></p>
				<p>まだ<%= category_title %>の投稿はありません</p>
			<% end %>
		</div>	
	<% end %>
</div>

