<p id="notice"><%= notice %></p>

<%= render 'profile' %>


<% if current_user == @user %>
	<div>
	  <h1>タイムライン</h1>
	  <% @following_notes.each do |note| %>
	    <li>
	      <%= link_to note, class: "note-card" do %>
	        <%= image_tag "/note_images/#{note.image}", class: "note-image" %>
	        <div><%= note.user.name %></div>
	      <% end %>
	    </li>
	  <% end %>
	</div>
<% end %>

<% if current_user != @user %>

	<%= render 'notes'%>

	<div style=" clear:both;" class= "category-area">
	 <% @categories.each do |category| %>
			<% if @user.notes.find_by(category: category.title) %>
				<div style="height:400px;">
					<p class="ctg-name"><%= category.title %></p>
					<% notes = @user.notes.where(category: category.title) %>
					<% notes.each do |note| %>                      
						<li>
							<%= link_to note, class: "note-card" do %>
								<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
								<div><%= note.content %></div>
							<% end %>
						</li>
					<% end %>
				</div>	
			<% end %>
		<% end %>
	</div>
		
<% end %>



