<section>
	<h3 class="user-info"><%= @user.name %></h3>
</section>

<% if current_user.id == @user.id %>
	<section>
		<small><%= link_to 'Noteを投稿', new_note_path %></small>
	</section>
	<section>
		<small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
	</section>
<% end %>



<% @notes.each do |note| %>
	<li>
		<%= link_to note, class: "note-card" do %>
			<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
			<%= note.content %>
		<% end %>
	</li>
<% end %>
