
<%= render 'profile' %>


<% if current_user == @user %>
	<div class="user-contents-area">		
	  <% @following_notes.each do |note| %>
	    <li>
	      <%= link_to note, class: "note-card" do %>
	      	<div><%= note.user.name %></div>
	        <%= image_tag "/note_images/#{note.image}", class: "note-image" %>
	      <% end %>
	    </li>
	  <% end %>
	</div>
<% end %>

<% if current_user != @user %>

	
<%= render 'notes'%>

	
		
<% end %>



