<p id="notice"><%= notice %></p>


<%= render 'profile' %>


<%= render 'notes'%>

<div style=" clear:both;">

	<% @categories.each do |category| #category_titleにカテゴリー名を順番に入れる　%>
		<div style="height:400px;">
			<p class="ctg-name"><%= category.title %></p>
			<% if @user.notes.find_by(category: category.title) #ユーザーがそのカテゴリー名のデータを持っていた場合 %>
				<% notes = @user.notes.where(category: category.title) %>
				<% notes.each do |note| #noteにNoteインスタンスを一つずつ代入 %>
					<li>
						<%= link_to note, class: "note-card" do %>
							<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
							<div><%= note.content %></div>
						<% end %>
					</li>
				<% end %>
			<% else #ユーザーがそのカテゴリー名のデータを持っていなかった場合 %>
				<p>まだ<%= category.title %>の投稿はありません</p>
			<% end %>
		</div>	
	<% end %>
</div>

