
<% if current_user.id == @user.id %>
	<section>
		<small><%= link_to 'Noteを投稿', new_note_path %></small>
	</section>
	<section>
		<small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
	</section>
<% end %>

<%= render 'notes'%>

<div style=" clear:both;">
	<h1>カテゴリーごとの表示</h1>
	<% @category_title.each do |category_title| %>
		<div style=" background-color:gray; height:500px;">
			<h1><%= category_title %></h1>
			<% @notes.each do |note| %>
				<% if note.category == category_title %>
					<li>
						<%= link_to note, class: "note-card" do %>
							<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
							<div><%= note.content %></div>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>



