
<p><strong><%= @category %></strong><%="の検索結果" %></p>

<% @notes.each  do |note| %>
  <li>
    <%= link_to note, class: "note-card" do %>
      <%= image_tag "/note_images/#{note.image}", class: "note-image" %>
      <div class="note-category"><%= note.category %></div>
    <% end %>
  </li>
<% end %>
