<div class="search">
	<p>カテゴリーごとの検索</p>
	<div>
		<%= form_tag category_path, method: 'get' do %>
			<%= select_tag :category, options_from_collection_for_select(Category.all,:title,:title) %>
			<input type="submit" value="検索" >
		<% end %>
	</div>
</div>



<% @notes.each do |note| %>
	<li>
		<%= link_to note, class: "note-card" do %>
			<%= image_tag "/note_images/#{note.image}", class: "note-image" %>
			<div class="note-category"><%= note.category %></div>
		<% end %>
	</li>
<% end %>


